body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Color de fondo general */
}


.split-pane {
    display: flex;
}


.menu {
    width: 250px; /* Ancho del menú */
    background-color: #73cae7; /* Azul suave */
    padding: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2); /* Sombra para el menú */
}


.menu-header {
    text-align: center;
}


#inbox-list,
#labels-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.menu-item {
    display: block;
    padding: 10px;
    color: #000; /* Color de texto negro */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Transición suave */
}


.menu-item:hover {
    background-color: #dfc5e2; /* Azul más claro al pasar el ratón */
}


main {
    flex-grow: 1; /* Para ocupar el resto del espacio */
    background-color: #9e9ee4; /* Morado suave */
    padding: 20px;
    border-radius: 5px; /* Bordes redondeados */
}


button {
    background-color: #f8f40a; /* Amarillo suave */
    color: #000; /* Color de texto negro */
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease; /* Transición suave */
}


button:hover {
    background-color: #fafad2; /* Amarillo más claro al pasar el ratón */
}


h1, h2, label {
    color: #000000; /* Color de texto gris oscuro */
}


input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


@media (max-width: 768px) {
    .menu {
        width: 100%; /* Hacer el menú de ancho completo en pantallas más pequeñas */
    }


    main {
        padding: 10px; /* Reducir padding en pantallas más pequeñas */
    }
   
    button {
        width: 100%; /* Botones de ancho completo */
    }
}


.img-01 {
    max-width: 90%;
    height: auto;
}

.img-02 {
    max-width: 90%;
    height: auto;
}

.img-03 {
max-width: 90%;
height: auto;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura completa de la vista */
}


/* Estilos para modo oscuro */
.dark-mode {
    background-color: #121212; /* Fondo oscuro */
    color: #ffffff; /* Texto claro */
}


.dark-mode .menu {
    background-color: #1e1e1e; /* Fondo del menú oscuro */
}


.dark-mode .section {
    background-color: #1e1e1e; /* Fondo de las secciones oscuro */
}
